<!-- THIS WILL BE OUR 'ABOUT' PAGE FOR THE APP -->

{% extends "base.html" %} {% block body %}
<div>
    <h1>Spotify</h1>
    <p>This project generates a list of song recommendations based on a song. The dataset we chose is a collection of 160,000+ tracks on Spotify, found on <a href="https://www.kaggle.com/yamaerenay/spotify-dataset-19212020-160k-tracks">Kaggle</a>.</p>
    <h2><u>Input</u></h2>
    <p>Our input is a song selected from a list. Our model analyzes the song based on these categories:</p>
        <p>acousticness, danceability, energy, explicitness</p>
        <p>instrumentalness, liveliness, key, loudness</p>
        <p>mode, popularity, speechiness, tempo, valence</p>
    <h2><u>Output</u></h2>
    <p>After a model analysis, the output of the model is a list of recommendations that are similar to the input song that a listener might like.</p>
</div>
<div>
    <h1>Our team</h1>
        <div data-wow-duration="400ms" data-wow-delay="0ms"><div>image here<img src="" alt=""></div>
            <h3>Israel Aikulola</h3>
            <p><a href="#"><i class="fa fa-facebook"></i></a></p>
            <p><a href="#"><i class="fa fa-twitter"></i></a></p>
            <p><a href="#"><i class="fa fa-linkedin"></i></a></p>
        <div data-wow-duration="400ms" data-wow-delay="0ms"><div>image here<img src="" alt=""></div>
            <h3>Hillary Khan</h3>
            <p><a href="#"><i class="fa fa-facebook"></i></a></p>
            <p><a href="#"><i class="fa fa-twitter"></i></a></p>
            <p><a href="#"><i class="fa fa-linkedin"></i></a></p>
        <div data-wow-duration="400ms" data-wow-delay="0ms"><div>image here<img src="" alt=""></div>
            <h3>Nick Major</h3>
            <p><a href="#"><i class="fa fa-facebook"></i></a></p>
            <p><a href="#"><i class="fa fa-twitter"></i></a></p>
            <p><a href="#"><i class="fa fa-linkedin"></i></a></p>
        <div data-wow-duration="400ms" data-wow-delay="0ms"><div>image here<img src="" alt=""></div>
            <h3>Stephen Lupsha</h3>
            <p><a href="#"><i class="fa fa-facebook"></i></a></p>
            <p><a href="#"><i class="fa fa-twitter"></i></a></p>
            <p><a href="#"><i class="fa fa-linkedin"></i></a></p>
         <div data-wow-duration="400ms" data-wow-delay="0ms"><div>image here<img src="" alt=""></div>
            <h3>Filipe Collares</h3>
            <p><a href="#"><i class="fa fa-facebook"></i></a></p>
            <p><a href="#"><i class="fa fa-twitter"></i></a></p>
            <p><a href="#"><i class="fa fa-linkedin"></i></a></p>
    &copy; 2021 Spotify Suggestor
</div>
{% endblock %}